@using BattleShips.Model
@namespace BattleShips.Components

<h3>Board</h3>

<div style="width: 100%">
  <table class="styled-table">
    <thead>
      <tr>
        <th></th>
        @foreach (var number in _numbers)
        {
          <th>
            <BoardHeaderCell>
              <ChildContent>
                @number
              </ChildContent>
            </BoardHeaderCell>
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @foreach (var (letter, xIndex) in _letters.Select((x, i) => (x, i)))
      {
        <tr>
          <td>
            <BoardRowCell>
              <ChildContent>
                @letter
              </ChildContent>
            </BoardRowCell>
          </td>
          @foreach (var (number, yIndex) in _numbers.Select((x, i) => (x, i)))
          {
            <td>
              <BoardPlayableCell X="@xIndex" Y="@yIndex" Board="_board" BoardClicked="@((_, _) => HitShip(xIndex, yIndex))"></BoardPlayableCell>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>

<MudText>All ships: @_createdShips</MudText>
<MudText>Destroyed ships: @_destroyedShips</MudText>

@if (_createdShips == _destroyedShips)
{
  <MudText>Winner</MudText>
}
